<div class="wrapper">
</div>
<div id="brand"> <%= image_tag("shitheadLogo.png", alt: "play",class:"mainImage") %>
  <%= link_to 'GET STARTED', new_game_path, class: 'btn btn-primary btn-large' %>
  <%= link_to "RULES", game_rules_path %>
</div>
