<div id="<%= dom_id pile %>">
  <% if action_name != "show" %>
    <%= link_to "Show this pile", pile, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this pile", edit_pile_path(pile), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
