<div class="flex flex-col text-white mt-10">
  <h1 class="text-6xl font-bold">Initialize game</h1>

  <div>
    <h2 class="text-4xl mt-10">Introduction:</h2>
    <p>This section will elaborate on the inner workings of the card game. It's rules and the player objective.</p>

    <h2 class="text-4xl mt-10">Game prerequisites:</h2>
    <p>
      The game requires at least two players but there is no upper limit.
      To compensate higher numbers of players a new set of cards will be added every 4 players
    </p>

  </div>
  <div>
    <h2 class="text-4xl mt-10">Trivia:</h2>
    <p>
      On this page ill be referring to different piles of cards as there are multiple.
      Store pile: this is the pile where players "buy" their cards
      Game pile: this is the pile where the game happens and the players throw their cards on.
      Lost pile: This is the pile where cards go away and stop interacting with the rest of the game.
    </p>

    <h2 class="text-4xl mt-10">Objective:</h2>

    <p>The primary goal for the players is to lose all the cards in their hand.
      This is done by throwing them onto the game pile.
      Each round consists of every player trying to throw one or more cards onto the pile.
    </p>

    <h2 class="text-4xl mt-10">Start-Middle:</h2>
    <p>
      Each player is handed nine cards. Three of these cards they may not look at and will be placed face-down on the table.
      The player will then select three of their remaining six cards to put on top of the three other cards face-up
      It is advisable to choose your strongest cards for this as they will be the only ones that you can use in the endgame.

      The remaining three cards will be used in the first round.
      Until the endgame every player will have at least three cards in their hand.
      If they at any point have less than three they will "buy" a new card from the store pile
    </p>

    <p>
      However, they can only lose a card if that card "beats" the card that is on top of the pile.

      One card beats the other based on its weight or based on
      its <%= link_to "special attributes", cards_path, class: "text-red-500 font-bold" %>
      If they cannot. They will add the entire pile to their current hand.
    </p>
    <p>
      All is not lost, however. To offset the having the entire pile in hand the game features some properties that
      lower the impact. If a player has multiple cards with the same weight they may throw multiple of them up
      at the same time. If the pile contains three consecutive cards with the same weight the entire pile
      is put to the side and will not be interacted with again. The player who finished the set of three will be
      awarded with another turn. It does not matter if it is your turn or not. You can always finish (not start) a
      trio of cards.

      This is significantly more likely to happen when a player has more cards.
    </p>
    <p>
      This cycle repeats itself until the store pile is empty which will initiate the endgame
    </p>
  </div>
  <h2 class="text-4xl mt-10">End:</h2>
  <p>
    Once the store pile is empty the last phase commences.
    Every player can now no longer buy more cards.

    After all the cards have left the hands of a player they will continue their play in with the cards placed face-up
    the rest of the players have seen these cards the entire game and can anticipate accordingly.
    When a player survives this phase they will have to play their face-down cards. The first player that survives the
    last two phases will have won the game.
  </p>


</div>
